<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=ELLAKAMENETE299\\SQLEXPRESS;Database=AlignDB;Trusted_Connection=True" />
    <add key="Host" value="kafka:9092" />
    <add key="GroupName" value="groupId" />
    <add key="QueueName" value="CovidMessages" />
    <add key="IsDB" value="false" />
  </appSettings>
</configuration>